In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import ShuffleSplit
import xgboost as xgb
import pylab as pl
import pickle
import matplotlib.pyplot as plt

### Weather Data

In [3]:
#Wther2007=pd.read_excel('WeatherData.xlsx','2009')
#Wther2008=pd.read_excel('WeatherData.xlsx','2010')
Wther2009=pd.read_excel('WeatherData.xlsx','2011')
Wther2010=pd.read_excel('WeatherData.xlsx','2012')
Wther2011=pd.read_excel('WeatherData.xlsx','2013')
Wther2012=pd.read_excel('WeatherData.xlsx','2014')
Wther2013=pd.read_excel('WeatherData.xlsx','2015')
Wther2014=pd.read_excel('WeatherData.xlsx','2016')

In [4]:
#Wther=Wther.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)

#Wther2007=Wther2007.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
#Wther2008=Wther2008.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
Wther2009=Wther2009.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
Wther2010=Wther2010.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
Wther2011=Wther2011.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
Wther2012=Wther2012.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
Wther2013=Wther2013.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)
Wther2014=Wther2014.drop(['Temp high (°C)','Temp low (°C)','Dew Point high (°C)','Dew Point low (°C)','Humidity\xa0(%) high','Humidity\xa0(%) low','Sea Level Press.\xa0(hPa) high','Sea Level Press.\xa0(hPa) low','Visibility\xa0(km) high','Visibility\xa0(km) low','Wind\xa0(km/h) high','Wind\xa0(km/h) low','WeatherEvent','Precip.\xa0(mm) sum'],axis=1)

In [5]:
Wther=pd.concat([Wther2009,Wther2010,Wther2011,Wther2012,Wther2013,Wther2014],ignore_index=True)

In [6]:
#Wther

In [7]:
year={2009:1,2010:2,2011:3,2012:4,2013:5,2014:6}
month={'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9,
       'Oct':10, 'Nov':11, 'Dec':12}
Wther["Year"] = Wther["Year"].map(year)
Wther["Month"] = Wther["Month"].map(month)

###Dealing with Null values and changing categories to calculate average

In [8]:
#Wther[Wther.values  == "-"]
#Wther=Wther.replace('-',np.NaN)
#Wther[pd.isnull(Wther).any(axis=1)]
#pd.to_numeric(Wthertry['Temp avg (°C)'])

In [9]:
list(Wther.columns)

['Year',
 'Month',
 'Day',
 'Temp avg (°C)',
 'Dew Point avg (°C)',
 'Humidity\xa0(%) avg',
 'Sea Level Press.\xa0(hPa) avg',
 'Visibility\xa0(km) avg',
 'Wind\xa0(km/h) avg']

In [10]:
Wther_avg=Wther.groupby(['Year','Month'])['Temp avg (°C)','Dew Point avg (°C)','Humidity\xa0(%) avg','Sea Level Press.\xa0(hPa) avg','Visibility\xa0(km) avg','Wind\xa0(km/h) avg'].mean()

In [11]:
#Wther[(Wther.Year==1) & (Wther.Month==1)]

In [12]:
Wther_avg=Wther_avg.values[:,:]

In [13]:
Wther_fin=pd.DataFrame(Wther_avg,columns=['Temp_avg','Dew_Point_avg','Humidity_avg','Sea_Level_Press_avg','Visibility_avg','Wind_avg'])

In [14]:
Wther_fin.shape

(72, 6)

### Training Data

In [15]:
data=pd.read_csv('Train_Kaggle.csv')

In [16]:
data_Women=data[data['ProductCategory']=='WomenClothing']
#print(data_Women.describe())

In [17]:
data_Women=data_Women.fillna(value=3293)
#data_Women

In [18]:
data_Other=data[data['ProductCategory']=='OtherClothing']
#data_Other

In [19]:
data_Other=data_Other.fillna(value=1107)
#data_Other

In [20]:
data_Men=data[data['ProductCategory']=='MenClothing']
#data_Men

In [21]:
data_Men=data_Men.fillna(value=674)
#data_Men

In [22]:
fin_data=pd.concat([data_Men,data_Women,data_Other])

In [23]:
#fin_data
dept={'MenClothing':1,'OtherClothing':2,'WomenClothing':3}
fin_data["ProductCategory"] = fin_data["ProductCategory"].map(dept)

In [24]:
year={2009:1,2010:2,2011:3,2012:4,2013:5,2014:6}
fin_data["Year"] = fin_data["Year"].map(year)

In [25]:
train_fin=fin_data

In [26]:
train_fin_Men=train_fin[train_fin['ProductCategory']==1].reset_index(drop=True)
train_fin_Others=train_fin[train_fin['ProductCategory']==2].reset_index(drop=True)
train_fin_Women=train_fin[train_fin['ProductCategory']==3].reset_index(drop=True)

In [27]:
#train_fin_Women

### Holiday Data

In [28]:
holi=pd.read_excel('Events_HolidaysData.xlsx')

In [29]:
holi_fin=holi.drop(['Year','Month'],axis=1)

In [30]:
holi_fin.shape

(72, 1)

### Data Merge

In [31]:
full_men=pd.concat([train_fin_Men,holi_fin,Wther_fin],axis=1)
full_others=pd.concat([train_fin_Others,holi_fin,Wther_fin],axis=1)
full_women=pd.concat([train_fin_Women,holi_fin,Wther_fin],axis=1)

In [32]:
cs = full_men['Sales(In ThousandDollars)']
full_men.drop(labels=['Sales(In ThousandDollars)'], axis=1,inplace = True)
full_men.insert(10, 'Sales(In ThousandDollars)', cs)

In [33]:
cs = full_others['Sales(In ThousandDollars)']
full_others.drop(labels=['Sales(In ThousandDollars)'], axis=1,inplace = True)
full_others.insert(10, 'Sales(In ThousandDollars)', cs)

In [34]:
cs = full_women['Sales(In ThousandDollars)']
full_women.drop(labels=['Sales(In ThousandDollars)'], axis=1,inplace = True)
full_women.insert(10, 'Sales(In ThousandDollars)', cs)

In [35]:
full_others.head()

,Year,Month,ProductCategory,Number_of_Holidays,Temp_avg,Dew_Point_avg,Humidity_avg,Sea_Level_Press_avg,Visibility_avg,Wind_avg,Sales(In ThousandDollars)
0,1,1,2,2,-1.096774,-7.806452,61.516129,1014.612903,12.387097,10.387097,936.0
1,1,2,2,2,2.428571,-6.857143,52.607143,1015.392857,13.642857,12.250000,859.0
2,1,3,2,0,5.838710,-3.387097,56.096774,1019.612903,14.000000,12.290323,921.0
3,1,4,2,1,12.500000,4.966667,64.466667,1013.566667,13.066667,11.766667,914.0
4,1,5,2,2,18.161290,11.645161,71.870968,1014.709677,12.032258,8.838710,989.0

In [36]:
full_men_X=full_men.values[:,:10]
full_men_Y=full_men.values[:,10:]
full_others_X=full_others.values[:,:10]
full_others_Y=full_others.values[:,10:]
full_women_X=full_women.values[:,:10]
full_women_Y=full_women.values[:,10:]

In [37]:
full_men_X.shape,full_others_X.shape,full_women_X.shape

((72, 10), (72, 10), (72, 10))

###Testing Data

In [38]:
test_data=pd.read_csv('Test_Kaggle.csv')

test_data=test_data.drop('Sales(In ThousandDollars)',axis=1)

dept={'MenClothing':1,'OtherClothing':2,'WomenClothing':3}
test_data["ProductCategory"] = test_data["ProductCategory"].map(dept)

yeart={2015:7}
test_data["Year"] = test_data["Year"].map(yeart)

In [39]:
test_data_Men=test_data[test_data['ProductCategory']==1].reset_index(drop=True)
test_data_Others=test_data[test_data['ProductCategory']==2].reset_index(drop=True)
test_data_Women=test_data[test_data['ProductCategory']==3].reset_index(drop=True)

In [40]:
Wther_test=Wther_fin[60:].reset_index(drop=True)

In [41]:
holi_test=holi_fin[60:].reset_index(drop=True)

In [42]:
test_men=pd.concat([test_data_Men,holi_test,Wther_test],axis=1)
test_others=pd.concat([test_data_Others,holi_test,Wther_test],axis=1)
test_women=pd.concat([test_data_Women,holi_test,Wther_test],axis=1)

In [43]:
big_data_test=pd.concat([test_men,test_women,test_others])

### Testing on Merged data

In [44]:
X_train=np.load('X_train.npy')
Y_train=np.load('Y_train.npy')
X_val=np.load('X_val.npy')
Y_val=np.load('Y_val.npy')

###Testing

In [45]:
model=pickle.load(open('model_129.868.dat','rb'))

In [46]:
print(model)

GradientBoostingRegressor(alpha=0.9, criterion='mae', init=None,
             learning_rate=0.33333333333333, loss='ls', max_depth=3,
             max_features=None, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=44, presort='auto',
             random_state=None, subsample=1.0, verbose=0, warm_start=False)

In [47]:
Y_pred_test = model.predict(big_data_test.values)

In [48]:
sub=[]
for i in range(12):
    sub.append(Y_pred_test[i+12])
    sub.append(Y_pred_test[i])
    sub.append(Y_pred_test[i+24])

In [49]:
nsub=np.asarray(sub)

In [50]:
###Big Data Test

#fil=open('Retail_11.csv','w')
#fil=open('Retail_12.csv','w') ###new grid search
#fil=open('Retail_13.csv','w')  ## split=0.15, max_depth=None
#fil=open('Retail_14.csv','w')  ## split=0.15, max_depth=4
#fil=open('Retail_15.csv','w')  ## minor changes
#fil=open('Retail_16.csv','w')  ## Adaboost
#fil=open('Retail_16.csv','w')  ## gb 0.4 ,900,ls,mae again
#fil=open('Retail_17.csv','w')  ## gb 0.111 ,850,ls,mae
#fil=open('Retail_17_recreate.csv','w')  ### Recreating Retail_17 for submission
#fil=open('Retail_18.csv','w')  ### XGBoost
#fil=open('Retail_19.csv','w')  ### XGBoost with RMS=104
#fil=open('Retail_20.csv','w')  ### XGBoost with lr=0.15000...2,nestimator=100
#fil=open('Retail_21.csv','w')  ### gb 0.1111 ,900,ls,mae
#fil=open('Retail_22.csv','w')  ### gb 0.1111 ,2000,ls,mae
#fil=open('Retail_23.csv','w')  ### gb 0.15000000000002 ,2000,ls,mae,RMS=105
#fil=open('Retail_24.csv','w')  ### gb 0.3333333333333333 ,100,ls,mae,RMS=94
#fil=open('Retail_25.csv','w')  ### xgbr 0.111111111111111 ,725
#fil=open('Retail_26.csv','w')  ### gb 0.3333333333333333 ,29,ls,mae
#fil=open('Retail_27.csv','w')  ### gb 0.3333333333333333 ,40,ls,mae
#fil=open('Retail_28.csv','w')  ### gb 0.3333333333333333 ,16,ls,mae,RMS=111
#fil=open('Retail_29.csv','w')  ### gb 0.3333333333333333 ,1111,ls,mae
#fil=open('Retail_30.csv','w')
#fil=open('Retail_31.csv','w')
#fil=open('Retail_32.csv','w')
#fil=open('Retail_33.csv','w')
#fil=open('Retail_34.csv','w')
#fil=open('Retail_35.csv','w')
#fil=open('Retail_36.csv','w')
#fil=open('Retail_37.csv','w')
#fil=open('Retail_38.csv','w')  #####Random state=40,n_estimators=44,gb 0.3333333333333333 ,ls,mae,split=.11
#fil=open('Retail_39.csv','w')  #####Random state=40,n_estimators=44,gb 0.3333333333333333 ,ls,mae,split=.10
#fil=open('Retail_try.csv','w')     #####Random State=42,n_estimators=44,gb 0.3333333333333333 ,ls,mae,split=.10
#fil=open('Retail_try1.csv','w')       #####Random State=42,n_estimators=45,gb 0.3333333333333333 ,ls,mae,split=.10
#fil=open('Retail_40.csv','w')       #####Random State=42,n_estimators=44,gb 0.1111 ,ls,mae,split=.01,RMS=52
#fil=open('Retail_41.csv','w')
#fil=open('Retail_42.csv','w')
fil=open('Submit1.csv','w')
fil.write('Year,Sales(In ThousandDollars)\n')
for i in range(nsub.shape[0]-1):
   fil.write('%d,%d\n'%(i+1,nsub[i]))
fil.write('%d,%d'%(i+2,nsub[i+1]))
fil.close()